*{
	margin: 0px;
	padding: 0px;
}
body{
  background-image: linear-gradient(rgb(19, 178, 241), white);
  overflow-y: scroll; }  
}
.mysite{
	flex:1;
}
.mymain_content{
	width: 100%;
	display: flex;
    min-height: 95vh;
    flex-direction: column;
}
 h1{
   text-align: center;
   padding-top: 0px;
   font-family: 'Slackey', cursive;
   font-size: 6em;
  color: white;
  -webkit-text-stroke: 2px black;
	
 }

audio:hover , audio:focus , audio:active {
//*box-shadow: 15px 15px 20px rgba(0,0,0,0.4);*//
transform:scale(1);


 }

 audio {
padding-top: 180px;
padding-left:10px;
border-radius: 7px;
 }
canvas{
  display: block ;
  margin: auto;
  position :absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  ;
  
}
.mysite-footer {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 70px;
color: black;
background-image: linear-gradient(#00b33c, #e68a00);
padding-top: 30px;
font-size: 1em;
font-family: 'Special Elite', cursive;

}